#about-me {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem 1rem 1rem;  
  width: 100%;

  background-image: linear-gradient(to bottom right, rgba(211, 211, 211, 0.56), rgba(128, 128, 128, 0.609));

}

.about-me__title {
  font-size: 4rem;
  font-weight: 500;
  color: white;
  margin-bottom: 2rem;
}

.interest {
  padding: 1rem; 
  cursor: pointer;
}

.interest_holder {
  padding: 1rem;
  width: 100%;
}
.interest__container {  
  width: 100%;
  flex-direction: column;
  background-color: white;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 2px rgba(128, 128, 128, .5);
}
.interest__content {
  flex-direction: column;
  border-radius: 6px;
}
.interest__header {
  width: 100%;
  margin-bottom: .5rem;
  /* texts */
  font-size: 6vmin;
  font-weight: 500;
  padding: 1rem;
  color: white;
  /* image */
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  aspect-ratio: 1.3;
  flex-shrink: 0;
  overflow: hidden;  
}
.interest__text {
  padding: .5rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: ease .3s;
}

.focus {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  z-index: var(--z-modal);
  transition: grow .5s;
}

@keyframes grow {
  from {  }
  to { scale: 1.5 }
}