#about {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem 1rem 1rem;
  width: 100%;

  background-image: linear-gradient(to bottom right, var(--col-success), var(--col-neutral-light));

}

.about__title {
  margin-bottom: 2rem;

  color: white;

  font-size: 4rem;
  font-weight: 500;
}

.about__subtitle {
  font-style: italic;
}

.interest {
  padding: 1rem;
  cursor: pointer;
}

.interest__holder {
  padding: 1rem;
  width: 100%;
}

.interest__holder>div {
  justify-content: center;
  align-items: center;
}

.interest__container {
  flex-direction: column;

  width: 100%;
  height: fit-content;
  margin-bottom: 1rem;
  padding: 1rem;

  background-color: white;
  box-shadow: 1px 1px 2px rgba(128, 128, 128, .5);
}

.modal .interest__container {
  margin: 0;
}

.interest__content {
  flex-direction: column;
  border-radius: 6px;
}

.interest__header {
  width: 100%;
  margin-bottom: .5rem;
  /* texts */
  font-size: 3rem;
  font-weight: 500;
  overflow-wrap: break-word;
  hyphens: auto;
  align-items: flex-end;
  justify-content: flex-end;
  word-break: normal;

  padding: 1rem;
  color: white;
  /* image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1.3;
  flex-shrink: 0;
  overflow: hidden;
}

.interest__content {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.interest__text-modal {
  display: none;
}

.focus {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-modal);
  transition: grow .5s;
}

.interest__text {
  display: block;
  text-overflow: ellipsis;
  height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
}

.modal .interest__text {
  width: 70vw;
}

.skillContainer {
  padding-inline: .25rem;
  flex-wrap: wrap;
  overflow: hidden;
  height: 40px;
}

.modal .skillContainer {
  height: fit-content;
}

.skill {
  border-radius: 6px;
  padding: .25rem .5rem;
  margin: .5rem;
  background-color: white;
  border: 1px solid rgb(69, 69, 69);
  width: fit-content;
  align-items: center;
}

.skill__image {
  display: block;
  flex-shrink: 0;
  margin-right: .5rem;
  border-radius: 50%;
  height: 1rem;
  aspect-ratio: 1;
  background-size: contain;
  background-repeat: no-repeat;
}

.skill_name {
  font-weight: 500;
  font-size: 1rem;
}

@keyframes grow {
  from {
    scale: 1
  }

  to {
    scale: 1.5
  }
}

@media only screen and (min-width: 600px) {
  .interest__header {
    font-size: 4.5vw;
  }
}

@media only screen and (min-width: 700px) {
  .interest__header {
    font-size: 5.5vw;
  }
}

@media only screen and (min-width: 1200px) {
  .interest__header {
    font-size: 2.5vw;
  }
}